<main>
    <section id="banner">
        <img src="assets/img/imgLogo.jpg">
        <div class="contenedor ">
            <p class="title">SISTEMA DE ADMINISTRACION </p>
            <p class="msj-1">¿Mejorar la educacion es priridad de nosotros?</p>

        </div>
    </section>
    <section id="bienvenidos">
        <div class="contenedor">
            <h2 class="title2">Unete a nuestro club de salud animal</h2>
            <p class="msj-1">Eres veterianario(a) necesitas expandir tus servicios y productos, ven concede nuestro sitio web MYPETS salud animal y obtén beneficios adicionales económicos generados por clientes. Extiende tus conocimientos para ayudar a mascotas y salva
                vidas por un mundo mejor. “salva y vive feliz”.</p>
        </div>
        <br><br>
        <div class="contenedor">
            <h2 class="title2">Mision</h2>
            <p class="msj-2">ser una asocion de veterinarios con calidad de servicio salvadora de animales, ser una de las mejores plataformas de servicios y productos para el cuidado y salud animal</p>
        </div>
        <br><br>
        <div class="contenedor">
            <h2 class="title2">Vision</h2>
            <p class="msj-2">Salvar muchos animales que se encuentran en peligro de salud, devolviendo la felicidad y alegra para muchas familias, recibir mas de 1,000 veterinarios en 1 año de servicio</p>
        </div>
    </section>

</main>