<div class="contenedor" fxLayout="Column">
    <div fxLayout="row">
        <app-menu-registrar (click)="asiganarText()" (propagar)="textBtnRegisModifi=($event)"></app-menu-registrar>
        <div fxFlex="80" fxLayout="Column">
            <h1 fxFlexAlign="center">Carreras</h1>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxFlexAlign="row">
        <div class="paddingTop" fxFlex="30" fxFlexAlign="left" style="margin-left: 30px;">
            <mat-card class="cardRegistro">
                <mat-card-header>
                    <mat-card-title>Ingrese los datos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form fxLayout="Column">
                        <mat-form-field>
                            <mat-label>Carrera</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                        <div fxFlexAlign="left" fxLayoutGap.>
                            <button mat-raised-button color="primary">{{ textBtnRegisModifi }}</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" class="paddingTop">
            <mat-card class="cardTabla">
                <mat-sidenav-container>
                    <mat-form-field>
                        <mat-label>Buscar Carrera</mat-label>
                        <input matInput placeholder="Grado">
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr class="cursor" mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectedRow = row" [ngClass]="{ 'selected': row === selectedRow }">
                            </tr>

                            <ng-container matColumnDef="posicion">
                                <th mat-header-cell *matHeaderCellDef>No.</th>
                                <td mat-cell *matCellDef="let element; let i = index">{{ i+1 }}</td>
                            </ng-container>

                            <ng-container matColumnDef="carrera">
                                <th mat-header-cell *matHeaderCellDef>Carrera</th>
                                <td mat-cell *matCellDef="let element">{{ element.carrera }}</td>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let element; let i=index">
                                    <button (click)="Modificar()" class="btn" mat-raised-button color="primary">
                                    <span class="material-icons">
                                        drive_file_rename_outline
                                        </span>
                                </button> /
                                    <button class="btn" mat-raised-button color="warn">
                                    <span class="material-icons">
                                        delete_sweep
                                        </span>
                                </button>
                                </td>
                            </ng-container>
                        </table>
                        <mat-paginator [pageSizeOptions]="[2, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-sidenav-container>
            </mat-card>
        </div>
    </div>