<div class="contenedor" fxLayout="Column">
    <div fxLayout="row">
        <app-menu-registrar (click)="asiganarText()" (propagar)="textBtnRegisModifi=($event)"></app-menu-registrar>
        <div fxFlex="80" fxLayout="Column">
            <h1 fxFlexAlign="center">Profesores</h1>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
        <div class="paddingTop" fxFlex="30" fxLayoutAlign="left" style="margin-left: 30px;">
            <mat-card class="cardRegistro">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-header>
                    <mat-card-title class="textCentrado">Ingrese sus datos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form fxLayout="Column">
                        <mat-form-field>
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Direccion</mat-label>
                            <input matInput type="password">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Telefono</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary">{{ textBtnRegisModifi }}</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="70" class="paddingTop">
            <mat-card color="black" class="cardTabla">
                <mat-sidenav-container>
                    <mat-form-field>
                        <mat-label>Bucar Profesro</mat-label>
                        <input matInput placeholder="Profesor">
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource">

                        <!-- Row shown when there is no matching data. -->
                        <!-- fila pruncipal -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRow = row" [ngClass]="{ 'selected': row === selectedRow }"></tr>

                        <!-- columna de posiciones -->
                        <ng-container matColumnDef="posicion">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                        </ng-container>

                        <!-- columna de nombre -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
                        </ng-container>

                        <!-- columna de correo -->
                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef> correo </th>
                            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                        </ng-container>

                        <!-- columna de acciones -->
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> acciones </th>
                            <td mat-cell *matCellDef="let element; let i=index">
                                <button (click)="Modificar()" class="btn" mat-raised-button color="primary">
                                    <span class="material-icons">
                                        drive_file_rename_outline
                                        </span>
                                </button> /
                                <button class="btn" mat-raised-button color="warn">
                                    <span class="material-icons">
                                        delete_sweep
                                        </span>
                                </button>
                            </td>
                        </ng-container>
                    </table>

                    <mat-paginator [pageSizeOptions]="[2, 10, 25, 100]"></mat-paginator>
                </mat-sidenav-container>

            </mat-card>
        </div>
    </div>
</div>