.btn {
    margin-left: 15px;
}

.posicionBotton {
    margin-left: 105px;
    display: inline-flex;
}

.container-grupos {
    margin: 20px;
}

.container-busqueda {
    margin-top: 20px;
}

.color {
    background-color: beige;
}

.labelSelect {
    padding-top: 12px;
    margin-right: 5px;
}

.mg-top-10 {
    margin-top: 10px;
}

.card {
    border: black;
}

.select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 25px;
    padding: 5px;
    width: 180px;
}

.cardFiltrado {
    border: black solid;
    width: 500px;
    height: 20%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.cardTabla {
    border: black;
    width: 92%;
    margin-right: 50px;
}

.paddingTop {
    padding-top: 5px;
}

.contenedor {
    height: 100vh;
    display: flex;
    justify-content: safe;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 90%;
}

td,
th {
    width: 2px;
}

.btn {
    width: 5px;
    margin-right: 5px;
}