.btn {
    margin-left: 15px;
}

.posicionBotton {
    margin-left: 105px;
}

.container-grupos {
    margin: 20px;
}

.container-busqueda {
    margin-top: 20px;
}

.color {
    background-color: beige;
}

.card {
    border: black;
}

.paddingTop {
    padding-top: 5px;
}