<div class="container-grupos" fxLayout="Column">
    <h1 fxLayoutAlign="center">Lista de grados</h1>
    <mat-divider></mat-divider>
    <div class="paddingTop" fxLayout="Row wrap">
        <button class="posicionBotton" fxFlex="8" mat-raised-button color="primary">Agregar</button>
    </div>
    <div class="paddingTop" fxLayoutAlign="center">
        <mat-card fxFlex="80" class="card">
            <mat-sidenav-container>
                <mat-form-field>
                    <mat-label>Buscar Grado</mat-label>
                    <input matInput placeholder="Grado">
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <table mat-table>

                        <!-- Row shown when there is no matching data. -->
                        <!-- fila pruncipal -->
                        <tr mat-header-row *matHeaderRowDef="encabezadoGrados"></tr>
                        <tr mat-row *matRowDef="let row; columns: encabezadoGrados;"></tr>

                        <!-- columna de posiciones -->
                        <ng-container matColumnDef="No">
                            <th mat-header-cell *matHeaderCellDef> No. </th>

                        </ng-container>

                        <!-- columna de nombre -->
                        <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef> nombre </th>

                        </ng-container>
                        <!-- columna de acciones -->
                        <ng-container matColumnDef="Acciones">
                            <th mat-header-cell *matHeaderCellDef> acciones </th>
                            <td mat-cell *matCellDef="let element; let i=index">
                                <button mat-raised-button color="primary">Editar</button> /
                                <button mat-raised-button color="warn">Eliminar</button>
                            </td>
                        </ng-container>
                    </table>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>