<div class="container-grupos">
    <h2>Lista de grados</h2>
    <button mat-raised-button color="primary">Agregar</button>
    <div>
        <mat-card>
            <mat-sidenav-container>
                <mat-form-field>
                    <mat-label>Buscar grupo</mat-label>
                    <input matInput placeholder="Grupo">
                </mat-form-field>
                <div>
                    <table mat-table>
                    </table>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>