/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* se declara un estilo global para poner todo a la izquierda */

.spacer {
    flex: 1 1 auto;
}

.containerIMG {
    background-image: url("https://masteroficial.us.es/maes/sites/masteroficial.us.es.maes/files/fondo_pantalla_maes_0.png");
    width: 1500px;
    height: 500px;
}

.colorBackGround {
    background-color: rgb(217, 220, 223);
}

.ml-5 {
    margin-left: 10px;
}

.ml-4 {
    margin-left: 9px;
}

.ml-19 {
    margin-left: 19px;
}

.select-css {
    display: block;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: .3em;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

.selected {
    background-color: rgb(243, 240, 240);
}

.mt-5 {
    margin-top: 5px;
}

.cursor {
    cursor: pointer;
}